/* RESET */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input{margin:0;padding:0}h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,th{font-size:1em;font-weight:normal;font-style:normal}ul,ol{list-style:none}fieldset,img{border:none}caption,th{text-align:left}table{border-collapse:collapse;border-spacing:0}

body {
  font: 11px/18px "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", Verdana, Arial, sans-serif;
  color: #333;
  background-color: #efefef;
}
p { margin-bottom: 17px; }
a { color: #0088cc; text-decoration: none; outline-style: none; }
a:hover { text-decoration: underline; }


#page { margin: 0 auto; width: 706px; padding-top: 36px;}

h1, h2 { clear: both; font-family: "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, sans-serif; font-weight: bold; margin: 0 0 17px 0;}
h1 { font-size: 32px; line-height: 36px; font-family: "HelveticaNeue","Helvetica Neue","HelveticaNeueRoman","HelveticaNeue-Roman","Helvetica Neue Roman",Helvetica,Arial,sans-serif,Verdana; }
h2 { font-size: 11px; line-height: 17px; margin-bottom: 0; }

#description {
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 18px;
}

#footer {
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 30px;
  padding-top: 4px;
}
#footer .side { float: left; width: 49%; }
#footer .right { float: right; }
#footer .author { float: right; }

input {
  border: 1px solid #efefef;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  font-size: 11px;
  color: #333;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  padding: 3px;
}

/*
 * GUI
 */
#gui {
  float: left;
  clear: both;
  width: 100%;
}

#gui .result {
  float: left;
  width: 200px;
  margin-bottom: 18px;
}
#gui .result .frame {
  float: left;
  width: 200px;
  height: 200px;
  position: relative;
  border: 1px solid #e0e0e0;
  border-top-color: #dcdcdc;
  border-bottom-color: #e0e0e0;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 10px;
  margin-right: 20px;
}
#gui .controls {
  float: left;
  clear: both;
}
#gui .controls input[type=button] {
  display: block;
  position: relative;
  float: left;
  background-color: #efefef;
  background-position: top center;
  background-repeat: repeat-x;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  border-top-color: #d4d4d4;
  border-left-color: #d4d4d4;
  color: #777;
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 8px;
  line-height: 16px;
  padding: 5px 7px;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, .75);
  line-height: 100%;
  cursor: pointer;
  min-width: 30px;
  min-height: 22px;
  margin: 0 5px 5px 0;
}
#gui .controls input.disabled[type=button] {
  background-color: #ccc;
  border: 1px solid #a0a0a0;
  border-top-color: #b0b0b0;
  border-left-color: #b0b0b0;
  cursor: default;
}


#gui .modify {
  float: right;
  width: 480px;
  margin-bottom: 18px;
}

#gui .option {
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
  line-height: 20px;
}
#gui .option label {
  float: left;
  width: 80px;
}
#gui .option .slider {
  float: left;
  position: relative;
  width: 300px;
  margin-top: 4px;
}
#gui .option input.value {
  float: right;
  text-align: right;
  width: 60px;
}

/*
 * Code
 */
#gui .code {
  float: left;
  clear: both;
  width: 100%;
}

#gui pre {
  margin-bottom: 18px;
  float: left;
  clear: both;
  width: 100%;
}

#gui pre code {
  display: block;
  padding: 7px 12px;
  border-radius: 5px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #fff;
}